.navbar, .site-footer {
    background-color: rgb(255, 145, 0);
    /* border: 3px solid orange; */
}


.site-footer {
    /* background-image: linear-gradient(#CEC8FF, white); */
    /* padding: 20px 0; */
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #CCC1AB;
}
.card {
    background-color: black;
}

.card-caption {
    background-color: rgba(0,0,0,.5); 
    /* can i make that on hover? */
}

.navbar img {
    max-width:35%;
}